<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid d-flex">
        <a class="navbar-brand" href="index.html">Projeto Extensão II</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html">Início</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Grupos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="GrupoRedes.html">Minicurso de Redes de Computadores</a></li>
                        <li><a class="dropdown-item" href="GrupoGameMaker.html">Curso de Gamemaker - Aprender a
                                programar
                                jogos</a></li>
                        <li>
                        <li><a class="dropdown-item" href="GrupoPortifolioWEB.html">Desenvolvimento de um portifólio
                                WEB</a></li>
                        <li><a class="dropdown-item" href="GrupoHtmlCss.html">Aulas sobre HTML e CSS</a></li>
                        <li><a class="dropdown-item" href="GrupoJava.html">Curso de Java</a></li>
                        <li><a class="dropdown-item" href="GrupoSeguranca.html">Palestras sobre segurança digital</a>
                        </li>
                </li>
            </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Eventos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sobre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Todos os Grupos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="homeProjeto1.html">Projeto Extensão I</a>
            </li>
            </ul>
        </div>
    </div>
</nav>