* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

body,
ul {
    margin: 0px;
    padding: 0px;
}

a {
    color: black;
    text-decoration: none;
}

h2 {
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
}

#menu a:hover {
    background-color: rgba(0, 0, 0, .05);
}

#imagem-logo {
    width: 50px;
    height: 50px;
}

.conteudo {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.36);
    border: .5px solid rgba(0, 0, 0, 0.229);
    border-radius: 5px;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#nav.active #menu {
    height: calc(100% - 70px);
    overflow-y: auto;
}

#menu a {
    display: block;
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.conteudo-grupo {
    background-color: #e7e7e7;
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-template-areas: "participantes separacao projeto";
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.36);
    border: .5px solid rgba(0, 0, 0, 0.229);
    border-radius: 5px;
    width: 60%;
    margin: 100px auto;
}

.conteudo-grupo .titulo-grupo {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.442);
    padding: 5px;
    margin: 0px 10px 0px 10px;
}

.conteudo-grupo .titulo-projeto {
    padding: 5px;
    border-left: 1px solid rgba(0, 0, 0, 0.442);
}


.conteudo-grupo .informacoes-grupo p {
    margin-top: 10px;
    margin-bottom: 0px;
}

.conteudo-grupo .informacoes-projeto>p {
    margin-top: 10px;
    margin-left: 10px;
}

.conteudo-grupo .participantes {
    grid-area: participantes;
    padding: 10px;
}

.conteudo-grupo .projeto {
    grid-area: projeto;
    padding: 10px;
}

.conteudo-grupo .separacao {
    grid-area: separacao;
    border-left: 1px solid rgba(0, 0, 0, 0.442);
    height: 85%;
    margin: auto;
}

.seta-slider:hover {
    background-color: #939393;
}

#prev-button {
    grid-area: prev-button;
    cursor: pointer;
}

#next-button {
    grid-area: next-button;
    cursor: pointer;
}

.imagem-conteudo {
    display: none;
}

.on {
    display: block;
}

.botoes-visitar-grupo {
    display: flex;
    justify-content: end;
}

.link-grupo {
    padding: 5px;
    border-radius: 5px;
}

.link-grupo:hover {
    background-color: #939393;
}

.botao-slider {
    border: none;
    background-color: #e7e7e7;
}

.botao-slider:hover {
    background-color: #939393;
}

.texto-lista {
    margin-left: 15px;
}

.botao-lista {
    display: flex;
    margin: 0 auto;
    font-size: 1rem;
    border: none;
    background-color: #e7e7e7;
    padding: 5px;
    margin-bottom: 5px;
}

.botao-lista:hover {
    background-color: #939393;
    border-radius: 5px;
}

.titulo-lista-grupos {
    text-align: center;
}

.link-grupos-lista:hover {
    background-color: #939393;
    transition: .3s;
}

.titulo-header {
    margin: 0 auto;
    text-align: center;
}

.div-postagens-recentes {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.titulo-postagens-recentes {
    border-bottom: 1px solid rgba(0, 0, 0, 0.445);
    width: 80%;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}

.conteudo-iframe {
    margin: 0 auto;
    width: 100%;
}

.tempoDecorrido {
    color: rgba(0, 0, 0, 0.517);
}

.informacoes-mobile {
    padding: 10px;
}

.conteudo-grupo-mobile {
    background-color: #e7e7e7;
    width: 96%;
    margin: 0 auto;
    margin-top: 50px;
    border: .5px solid rgba(0, 0, 0, 0.229);
    border-radius: 5px;
}

.titulo-grupo-mobile {
    text-align: center;
    margin: 0px;
    padding-bottom: 5px;
}

.titulo-grupo-mobile2 {
    text-align: center;
    padding-top: 15px;
    margin: 0;
}

.separacao-mobile {
    border-bottom: 1px solid black;
}

footer {
    width: 100%;
    height: 100px;
}

section {
    display: flex;
    margin-bottom: 60px;
    justify-content: space-around;
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all .8s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all .8s;
}

.topo-conteudo {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "nome assunto tempo";
}

.nome-grupo {
    grid-area: nome;
    margin: auto 0;
}

.assunto {
    grid-area: assunto;
    margin: auto;
    text-align: center;
}

.tempoDecorrido {
    grid-area: tempo;
    text-align: right;
    margin: auto 5px auto 0;
}

.conteudo img {
    aspect-ratio: 16 / 9; /*PRECISA DISSO*/
    object-fit: cover;
    object-position: center;
    /*Onde ficará o foco da imagem*/
}

.tempoPostagem {
    text-align: right;
    margin-right: 5px;
}

.swiper-slide {
    width: 600px;
    height: 100%;
    background-color: rgb(40, 40, 33);
}

.swiper-slide img {
    display: flex;
    position: relative;
    width: 400px;
    object-fit: cover;
}

/* COLOCAR UM PARA CELULAR, TABLET E COMPUTADOR */
/* TAMANHO DA FOTO */
.swiper {
    position: relative;
    width: 100%;
    height: auto !important;
}

.swiper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.swiper-wrapper {
    
}

.conteudo-slider{
    position: relative;
    overflow: hidden;
}



@media (max-width: 655px) {
    .conteudo {
        box-sizing: border-box;
        background-color: #e7e7e7;
        margin-top: 50px;
        width: 95%;
        margin: 40px auto;
    }

    .conteudo-texto {
        grid-area: conteudo-texto;
    }

    .informacoes-projeto {
        margin-right: 20px;
    }

    .conteudo .imagem-conteudo {
        width: 100%;
    }

    .conteudo .texto-conteudo {
        padding: 15px;
        margin: 0px;
    }

    .seta-slider {
        display: none;
    }

    .setas-mobile {
        display: flex;
        justify-content: space-around;
    }

    .seta-prev-mobile {
        grid-area: seta-prev;
    }

    .seta-prev-mobile:hover {
        background-color: #939393;
    }

    .separacao-setas {
        grid-area: separacao-setas;
    }

    .separacao-setas {
        border-left: 1px solid black;
    }

    .seta-next-mobile {
        grid-area: seta-next;
    }

    .seta-next-mobile:hover {
        background-color: #939393;
    }

    #seta-mobile {
        display: flex;
    }

    .botao-seta-mobile {
        border: none;
        background-color: #e7e7e7;
    }

    .botao-slider {
        display: none;
    }

    .botao-fechar {
        display: none;
    }

    .link-foto {
        cursor: default;
    }

    .icone-aumentar {
        display: none;
    }

    .atalhos {
        display: flex;
        justify-content: center;
    }

    .icones-atalhos {
        border-radius: 50%;
    }

    .icones-atalhos:hover {
        background-color: #939393;
    }

    .titulo-lista-grupos {
        margin-top: 0px;
    }

    .conteudo-grupo {
        width: 100%;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: #e7e7e7;
        height: 0px;
        z-index: 1000;
        overflow-y: hidden;
    }

    #btn-mobile {
        display: flex;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #header {
        box-sizing: border-box;
        height: 80px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #e7e7e7;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.36);
    }

    .conteudo-grupo {
        display: none;
    }

    .lista-grupos {
        width: 95%;
        margin: 50px auto;
        border: 1px solid rgba(0, 0, 0, 0.45);
        border-radius: 5px;
        border-width: 90%;
    }

    .div-grupos-lista {
        border-bottom: 1px solid rgba(0, 0, 0, 0.45);
        margin: 0 auto;
    }

    .div-grupos-lista:hover {
        background-color: #9393933d;
        transition: 0.3s;
    }

    .titulo-lista-grupos {
        margin: 0;
        padding: 10px;
    }

}

@media (min-width: 656px) and (max-width: 1199px) {
    .conteudo {
        box-sizing: border-box;
        height: 100%;
        background-color: #e7e7e7;
        width: 70vw;
        margin: 50px auto;
    }

    .conteudo .imagens-conteudo {
        display: flex;
        justify-content: center;
    }

    .conteudo .imagem-conteudo {
        max-width: 100%;
    }

    .conteudo .texto-conteudo {
        padding: 15px;
        margin: 0px;
    }

    .setas-mobile {
        display: none;
    }

    .botao-fechar {
        display: none;
    }

    .imagem {
        width: 100%;
    }

    .link-foto {
        cursor: default;
    }

    .texto-lista {
        text-align: center;
    }

    .icone-aumentar {
        display: none;
    }

    .atalhos {
        display: flex;
        justify-content: center;
    }

    .icones-atalhos {
        border-radius: 50%;
    }

    .icones-atalhos:hover {
        background-color: #939393;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: #e7e7e7;
        height: 0px;
        z-index: 1000;
        overflow-y: hidden;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #header {
        box-sizing: border-box;
        height: 80px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #e7e7e7;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.36);
    }

    .conteudo-grupo-mobile {
        display: none;
    }

    .lista-grupos {
        width: 90%;
        margin: 50px auto;
        border: 1px solid rgba(0, 0, 0, 0.45);
        border-radius: 5px;
        border-width: 90%;
    }

    .div-grupos-lista {
        border-bottom: 1px solid rgba(0, 0, 0, 0.45);
        margin: 0 auto;
    }

    .div-grupos-lista:hover {
        background-color: #9393933d;
        transition: 0.3s;
    }

    .titulo-lista-grupos {
        margin: 0;
        padding: 10px;
    }

}

@media (min-width: 1200px) {
    .conteudo {
        background-color: #e7e7e7;
        width: 60%;
        margin: 50px;
    }

    .conteudo-texto {
        grid-area: conteudo-texto;
    }

    .conteudo .imagens-conteudo {
        display: flex;
        justify-content: center;
    }

    .conteudo .imagem-conteudo {
        width: 100%;
    }

    .conteudo .texto-conteudo {
        padding: 15px;
        margin: 0px;
    }

    .setas-mobile {
        display: none;
    }

    .foto img {
        width: 100%;
        display: block;
    }

    .botao-fechar {
        display: none;
    }

    .icone-aumentar {
        position: absolute;
        right: 35px;
        bottom: 5px;
        color: #fff;
        cursor: pointer;
    }

    .lista-grupos {
        display: flex;
        background-color: #e7e7e7;
        width: 95%;
        margin: 50px auto 0 auto;
    }

    .atalhos {
        display: flex;
        justify-content: center;
    }

    .icones-atalhos {
        border-radius: 50%;
    }

    .icones-atalhos:hover {
        background-color: #939393;
    }

    .link-grupos-lista {
        width: 16.6%;
        border: 1px solid rgba(0, 0, 0, 0.45);
    }

    #menu li a {
        font-size: 1.3rem;
    }

    #menu {
        display: none;
    }

    #btn-mobile {
        display: none;
    }

    #header {
        box-sizing: border-box;
        height: 80px;
        padding: 1rem;
        display: flex;
        align-items: center;
        background-color: #e7e7e7;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.36);
    }

    #imagem-logo {
        position: absolute;
        top: 15px;
    }

    .conteudo-grupo-mobile {
        display: none;
    }

    .swiper {
        position: relative;
        width: auto;
        height: 400px;
        /*TAMANHO DA FOTO*/
    }

}