* {
    font-family: 'Roboto', sans-serif;
}

/* Estilo Projeto II */

.container-main {
    border: 1px solid lightgray;
    padding: 0;
}

.sub-titulo {
    text-align: center;
}

.divisor {
    width: 80vw;
    margin: 0 auto;
}

.btn-visit-event {
    margin: 8px;
}

.content-post {
    display: flex;
    justify-content: center;
}

.no-results-message {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.title-events{
    margin: 2% 0 0 2%;
    font-size: 20px;
    font-weight: bold;
}

.divisor-events{
    width: 80%;
    margin-left: 1%;
}

.container-events {
    padding-left: 0;
    padding-right: 0;
    margin: 0 !important;
    width: 100vw; 
  }

.row.flex-nowrap {
margin-left: 0;
margin-right: 0;
}

.no-results-message-events{
    font-size: 18px;
    display: flex;
    justify-content: center;
}

/* Estilo Projeto I */

img {
    width: 100%;
}

body,
ul {
    margin: 0px;
    padding: 0px;
}

a {
    color: black;
    text-decoration: none;
}

h2 {
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
}

#imagem-logo {
    width: 50px;
    height: 50px;
}

.conteudo {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border: .5px solid rgba(0, 0, 0, 0.229);
    border-radius: 5px;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#nav.active #menu {
    height: calc(100% - 70px);
    overflow-y: auto;
}

#menu a {
    display: block;
    padding: 1rem 0;
    margin: 0 1rem;
}

.conteudo-grupo {
    background-color: var(--cor-primaria);
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-template-areas: "participantes separacao projeto";
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border: .5px solid rgba(0, 0, 0, 0.229);
    border-radius: 5px;
    width: 60%;
    margin: 100px auto;
}

.conteudo-grupo .titulo-grupo {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.442);
    padding: 5px;
    margin: 0px 10px 0px 10px;
}

.conteudo-grupo .titulo-projeto {
    padding: 5px;
    border-left: 1px solid rgba(0, 0, 0, 0.442);
}


.conteudo-grupo .informacoes-grupo p {
    margin-top: 10px;
    margin-bottom: 0px;
}

.conteudo-grupo .informacoes-projeto>p {
    margin-top: 10px;
    margin-left: 10px;
}

.conteudo-grupo .participantes {
    grid-area: participantes;
    padding: 10px;
}

.conteudo-grupo .projeto {
    grid-area: projeto;
    padding: 10px;
}

.conteudo-grupo .separacao {
    grid-area: separacao;
    border-left: 1px solid rgba(0, 0, 0, 0.442);
    height: 85%;
    margin: auto;
}

.imagem-conteudo {
    display: none;
}

.on {
    display: block;
}

.botoes-visitar-grupo {
    display: flex;
    justify-content: end;
}

.link-grupo {
    padding: 5px;
    margin-left: 5px;
    transition: box-shadow 0.3s;
    text-decoration: none;
    color: black;
}

.link-grupo:hover {
    box-shadow: 0px 2px 0px 0px var(--cor-hover);
}

.texto-lista {
    margin-left: 15px;
}

.titulo-lista-grupos {
    text-align: center;
}

.titulo-header {
    margin: 0 auto;
    text-align: center;
    font-size: 2.4rem;
}

.div-postagens-recentes {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin: 0;
}

.titulo-postagens-recentes {
    border-bottom: 1px solid rgba(0, 0, 0, 0.445);
    width: 80%;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.conteudo-iframe {
    margin: 0 auto;
    width: 100%;
}

.tempoDecorrido {
    color: rgba(0, 0, 0, 0.517);
}

.informacoes-mobile {
    padding: 10px;
}

.conteudo-grupo-mobile {
    background-color: var(--cor-primaria);
    width: 96%;
    margin-top: 50px;
    border: .5px solid rgba(0, 0, 0, 0.229);
    border-radius: 5px;
}

.titulo-grupo-mobile {
    text-align: center;
    margin: 0px;
    padding-bottom: 5px;
}

.titulo-grupo-mobile2 {
    text-align: center;
    padding-top: 15px;
    margin: 0;
}

.separacao-mobile {
    border-bottom: 1px solid black;
}

section {
    display: flex;
    margin-bottom: 60px;
    justify-content: space-around;
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all .8s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all .8s;
}

.topo-conteudo {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "nome assunto tempo";
    min-height: 45px;
}

.nome-grupo {
    grid-area: nome;
    margin: auto 0;
}

.assunto {
    grid-area: assunto;
    margin: auto;
    text-align: center;
}

.tempoDecorrido {
    grid-area: tempo;
    text-align: right;
    margin: auto 5px auto 0;
}

.conteudo img {
    aspect-ratio: 16 / 9;
    /*PRECISA DISSO*/
    object-fit: cover;
    object-position: center;
    /*Onde ficará o foco da imagem*/
}

.tempoPostagem {
    text-align: right;
    margin-right: 5px;
}

.swiper-slide {
    width: 600px;
    height: 100%;
    background-color: #939393
}

.swiper-slide img {
    display: flex;
    position: relative;
    width: 400px;
    object-fit: cover;
}

/* COLOCAR UM PARA CELULAR, TABLET E COMPUTADOR */
/* TAMANHO DA FOTO */
.swiper {
    position: relative;
    width: 100%;
    height: auto !important;
}

.swiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo-slider {
    position: relative;
    overflow: hidden;
}

.links {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 50px 10px 60px 10px;
    margin: 0px 2vw;
}

.icones-atalhos {
    border-radius: 50%;
}

.item {
    border-radius: 5px;
    flex-grow: 1;
    flex-basis: 200px;
    background-color: var(--cor-primaria);
    border: 3px solid rgba(0, 0, 0, 0.132);
}

.item:hover {
    /* outline: 2px solid var(--cor-hover); */
    transition: .5s;
    background-color: rgba(128, 128, 128, 0.348);
}

.introducao-site {
    background-color: var(--cor-cinza);
    padding: 0;
    margin: 0;
}

.nav-pc {
    position: absolute;
    right: 10px;
}

.nav-pc a {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.nav-pc a:hover {
    margin-bottom: 5px;
    border-bottom: 2px solid rgb(79, 78, 78);
}

:root {
    --cor-primaria: #f1f5f9;
    --cor-secundario: #f8fafc;
    /* --cor-cinza: #a5a5a57a; */
    --cor-cinza: #e2e8f08c;
    --cor-cinza2: #f1f5f9;
    --cor-detalhes: #f1f5f9;
    --cor-waves: #e2e8f0;
    --cor-hover: #379936;
}

.div-cabecalho {
    /* background-color: var(--cor-cinza) !important; */
}

.waves-introducao {
    background-color: var(--cor-cinza) !important;
}

.introducao img {
    position: absolute;
    height: 90vh;
    object-fit: cover;
}

.div-titulo {
    position: absolute;
    z-index: 2;
    bottom: 50%;
    left: 20px;
}

.div-introducao {
    display: flex;
    justify-content: space-around;
}

.texto-introducao {
    margin: auto 0;
}


.texto-introducao-grupo {
    padding-left: 10px;
}

.texto-introducao-grupo h3 {
    padding-left: 20px;
}

.wave-fundo {
    position: absolute;
    z-index: -1;
    width: 100%;
    background-color: var(--cor-cinza);
    height: 30vh;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 200px;
}

.footer {
    height: 5v;
    position: absolute;
    bottom: 0px;
}

.container,
.row {
    padding: 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #292c2f;
    color: #bbb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 05px;
}

footer a {
    color: #999;
    text-decoration: none;
}

footer a:hover,
footer a:focus {
    color: #aaa;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none
}

.texto-introducao>p,
.informacoes-projeto-mobile>p {
    text-align: justify;
}

.div-introducao {
    height: 50vh;
}

.col-md-5 {
    display: flex;
}


@media (max-width: 655px) {
    .conteudo {
        box-sizing: border-box;
        background-color: var(--cor-primaria);
        margin-top: 50px;
        width: 95%;
        margin: 40px auto;
    }

    .conteudo-texto {
        grid-area: conteudo-texto;
    }

    .informacoes-projeto {
        margin-right: 20px;
    }

    .conteudo .imagem-conteudo {
        width: 100%;
    }

    .conteudo .texto-conteudo {
        padding: 15px;
        margin: 0px;
    }

    .link-foto {
        cursor: default;
    }

    .atalhos {
        display: flex;
        justify-content: center;
    }

    .titulo-lista-grupos {
        margin-top: 0px;
    }

    .conteudo-grupo {
        width: 100%;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: var(--cor-primaria);
        height: 0px;
        z-index: 1000;
        overflow-y: hidden;
    }

    #btn-mobile {
        display: flex;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #btn-mobile span {
        font-size: 2rem;
    }

    #header {
        box-sizing: border-box;
        height: 80px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .conteudo-grupo {
        display: none;
    }

    .div-grupos-lista {
        border-bottom: 1px solid rgba(0, 0, 0, 0.45);
        margin: 0 auto;
    }

    .div-grupos-lista:hover {
        background-color: #9393933d;
        transition: 0.3s;
    }

    .titulo-lista-grupos {
        margin: 0;
        padding: 10px;
    }

    iframe {
        width: 100%;
        height: 40vh;
    }

    .nav-pc {
        display: none;
    }

    .imagem-introducao {
        height: 30%;
        width: 40vw;
        object-fit: cover;
        margin: auto 0;
    }

    .conteudo-grupo-mobile {
        margin: 0 auto;
        margin-bottom: 10vh;
    }

    .conteudo-header {
        display: flex;
        justify-content: space-between;
        width: 80vw;
        margin: 0 auto;
    }

    #nav {
        display: flex;
        align-items: center;
    }

    .texto-introducao {
        margin: auto 0;
    }

    .texto-introducao-grupo h3 {
        padding-bottom: 5vw;
        font-size: 1.3rem;
    }

    .texto-introducao h3 {
        font-size: 1.45rem;
        /* padding-left: 10px; */
        text-align: center;
    }

    .texto-introducao p {
        max-width: 50vw;
        font-size: 1.1rem;
        padding-left: 5vw;
    }

    #menu a {
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    }

    .titulo-header {
        padding-top: 50px;
    }

    .assunto {
        font-size: 1.1rem;
        font-weight: 400;
    }

    .imagem-horizontal {
        display: none;
    }

    .imagem-vertical {
        margin: auto 0;
        width: 45vw;
        height: 25vh;
    }

    #menu li:hover {
        background-color: #9393933d;
    }
}

@media (min-width: 656px) and (max-width: 1199px) {
    .conteudo {
        box-sizing: border-box;
        height: 100%;
        background-color: var(--cor-primaria);
        width: 70vw;
        margin: 50px auto;
    }

    .conteudo .imagens-conteudo {
        display: flex;
        justify-content: center;
    }

    .conteudo .imagem-conteudo {
        max-width: 100%;
    }

    .conteudo .texto-conteudo {
        padding: 15px;
        margin: 0px;
    }

    .setas-mobile {
        display: none;
    }

    .botao-fechar {
        display: none;
    }

    .imagem {
        width: 100%;
    }

    .link-foto {
        cursor: default;
    }

    .texto-lista {
        text-align: center;
    }

    .icone-aumentar {
        display: none;
    }

    .atalhos {
        display: flex;
        justify-content: center;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: var(--cor-primaria);
        height: 0px;
        z-index: 1000;
        overflow-y: hidden;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #header {
        box-sizing: border-box;
        height: 80px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .div-grupos-lista {
        border-bottom: 1px solid rgba(0, 0, 0, 0.45);
        margin: 0 auto;
    }

    .div-grupos-lista:hover {
        background-color: #9393933d;
        transition: 0.3s;
    }

    .titulo-lista-grupos {
        margin: 0;
        padding: 10px;
    }

    iframe {
        width: 100%;
        height: 60vh;
    }

    .nav-pc {
        display: none;
    }


    .texto-introducao-grupo {
        padding-left: 5vw;
    }

    .texto-introducao h3 {
        font-size: 1.8rem;
    }

    .texto-introducao p {
        padding-left: 3vw;
        width: 40vw;
    }

    .conteudo-header {
        display: flex;
        width: 90vw;
        justify-content: space-around;
    }

    .conteudo-grupo-mobile {
        width: 70vw;
        margin: 10vh auto;
    }

    .texto-introducao {
        margin: auto 0;
    }

    .imagem-vertical {
        display: none;
    }

    .imagem-horizontal {
        width: 50vw;
        height: 30vh;
        margin: auto 0;
    }

    #menu a {
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    }

    #menu li:hover {
        background-color: #9393933d;
    }

}

@media (min-width: 1200px) {
    .conteudo {
        background-color: var(--cor-primaria);
        width: 60%;
        margin: 50px;
    }

    .conteudo-texto {
        grid-area: conteudo-texto;
    }

    .conteudo .imagens-conteudo {
        display: flex;
        justify-content: center;
    }

    .conteudo .imagem-conteudo {
        width: 100%;
    }

    .texto-conteudo {
        padding: 15px;
        margin: 0px;
        font-size: 1.1rem;
    }

    .foto img {
        width: 100%;
        display: block;
    }

    .botao-fechar {
        display: none;
    }

    .icone-aumentar {
        position: absolute;
        right: 35px;
        bottom: 5px;
        color: #fff;
        cursor: pointer;
    }

    .atalhos {
        display: flex;
        justify-content: center;
    }

    #menu li a {
        font-size: 1.3rem;
    }


    #btn-mobile {
        display: none;
    }

    #header {
        box-sizing: border-box;
        height: 80px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    #imagem-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .swiper {
        position: relative;
        width: auto;
        height: 400px;
        /*TAMANHO DA FOTO*/
    }

    iframe {
        width: 100%;
        height: 60vh;
    }

    .nav-pc {
        display: none;
    }

    .texto-introducao-grupo {
        left: 15vw;
    }

    .texto-introducao-grupo h1 {
        margin-top: 5vh;
        font-size: 3rem;
        font-weight: 500;
    }

    .texto-introducao-grupo h3 {
        padding-left: 50px;
        font-size: 1.4rem;
        font-weight: 500;
    }

    .waves {
        position: absolute;
        bottom: 0px;
    }

    .conteudo-grupo-mobile {
        width: 40vw;
        margin-left: 5vw;
    }

    .conteudo-grupo-mobile-todos-grupos {
        width: 45vw;
        margin: 50px auto;
        margin-bottom: 10vh
    }

    .apresentacao-grupo {
        display: flex;
        position: relative;
        width: 70vw;
        margin: 0 auto;
        justify-content: space-between;
    }

    .conteudo-header {
        display: flex;
    }

    #link-logo {
        padding-right: 5vw;
    }

    #menu a {
        transition: box-shadow 0.3s;
    }

    #menu a:hover {
        box-shadow: 0px 4px 0px 0px var(--cor-hover);
    }

    .imagem-vertical {
        display: none;
    }

    .texto-introducao h3 {
        font-size: 2.3rem;
    }

    .texto-introducao p {
        font-size: 1.5rem;
        max-width: 40vw;
        padding-left: 2rem;
    }

    .titulo-header {
        position: absolute;
    }

    #todosGrupos {
        height: 100px !important;
    }

    .assunto {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .imagem-horizontal {
        margin: auto 0;
        width: 40vw;
        height: 25vh;
        object-fit: cover;
    }

}