* {
    font-family: sans-serif;
}

body,
ul {
    margin: 0px;
    padding: 0px;
}

a {
    color: black;
    text-decoration: none;
}

header a:hover {
    background-color: rgba(0, 0, 0, .05);
}

#imagem-logo {
    width: 50px;
    height: 50px;
}

#header {
    box-sizing: border-box;
    height: 80px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e7e7e7;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.36);
}

.conteudo {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.36);
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: 0.5rem;
}

#menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background-color: #e7e7e7;
    height: 0px;
    z-index: 1000;
    overflow-y: hidden;
}

#nav.active #menu {
    height: calc(100% - 70px);
    overflow-y: auto;
}

#menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

#btn-mobile {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
}

.conteudo-grupo {
    background-color: #e7e7e7;
    margin: 50px auto;
    width: 70%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-template-areas: "participantes separacao projeto";
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.36);
}

.conteudo-grupo .titulo-grupo {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.442);
    padding: 5px;
    margin: 0px 10px 0px 10px;
}

.conteudo-grupo .titulo-projeto {
    padding: 5px;
    border-left: 1px solid rgba(0, 0, 0, 0.442);
}


.conteudo-grupo .informacoes-grupo p {
    margin-top: 10px;
    margin-bottom: 0px;
}

.conteudo-grupo .informacoes-projeto>p {
    margin-top: 10px;
    margin-left: 10px;
}

.conteudo-grupo .participantes {
    grid-area: participantes;
}

.conteudo-grupo .projeto {
    grid-area: projeto;
}

.conteudo-grupo .separacao {
    grid-area: separacao;
    border-left: 1px solid rgba(0, 0, 0, 0.442);
    height: 100%;
}

.seta-slider:hover {
    background-color: #939393;
}

#prev-button {
    grid-area: prev-button;
    cursor: pointer;
}

#next-button {
    grid-area: next-button;
    cursor: pointer;
}

.imagem-conteudo {
    display: none;
}

.img2 {
    display: none;
}

.img1 {
    display: none;
}

/* Se tiver mais de 3 imagens precica colocar mais ".img3" ".img4"... */

.on {
    display: block;
}

.botoes-visitar-grupo {
    display: flex;
    justify-content: end;
}

.link-grupo {
    padding: 5px;
    border-radius: 5px;
}

.link-grupo:hover {
    background-color: #939393;
}

.botao-slider{
    border: none;
    background-color: #e7e7e7;
}

.botao-slider:hover{
    background-color: #939393;
}

.lista-grupos{
    display: flex;
    width: 60vw;
    height: 400px;
    background-color: #e7e7e7;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.grupo-lista{
    border: 1px solid rgba(0, 0, 0, 0.426);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.texto-lista{
    margin-left: 15px;
}

.botao-lista{
    display: flex;
    margin: 0 auto;
    font-size: 1rem;
    border: none;
    background-color: #e7e7e7;
    padding: 5px;
    margin-bottom: 5px;
}

.botao-lista:hover{
    background-color: #939393;
    border-radius: 5px;
}

.lista-grupos .titulo-lista-grupos{
    text-align: center;
}

@media (max-width: 655px) {
    .conteudo {
        box-sizing: border-box;
        height: 100%;
        background-color: #e7e7e7;
        margin-top: 50px;
        width: 100%;
    }

    .conteudo .topo-conteudo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 15px;
        margin-right: 15px;
    }

    .conteudo-grupo{
        width: 100%;
    }

    .informacoes-projeto{
        margin-right: 20px;
    }

    .conteudo .imagem-conteudo {
        width: 100%;
    }

    .conteudo .texto-conteudo {
        padding: 15px;
        margin: 0px;
    }

    .seta-slider {
        display: none;
    }

    .setas-mobile {
        display: flex;
        justify-content: space-around;
    }

    .seta-prev-mobile {
        grid-area: seta-prev;
    }

    .seta-prev-mobile:hover {
        background-color: #939393;
    }

    .separacao-setas {
        grid-area: separacao-setas;
    }

    .separacao-setas {
        border-left: 1px solid black;
    }

    .seta-next-mobile {
        grid-area: seta-next;
    }

    .seta-next-mobile:hover {
        background-color: #939393;
    }

    #seta-mobile {
        display: flex;
    }

    .botao-seta-mobile {
        border: none;
        background-color: #e7e7e7;
    }

    .botao-slider{
        display: none;
    }

    .botao-fechar{
        display: none;
    }

    .imagem{
        width: 100%;
    }

    .link-foto{
        cursor: default;
    }
}


@media (min-width: 656px) and (max-width: 1199px) {
    .conteudo {
        box-sizing: border-box;
        height: 100%;
        background-color: #e7e7e7;
        width: 70vw;
        margin: 50px auto;
    }

    .conteudo .topo-conteudo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 15px;
        margin-right: 15px;
    }

    .conteudo .imagens-conteudo {
        display: flex;
        justify-content: center;
    }

    .conteudo .imagem-conteudo {
        max-width: 100%;
    }

    .conteudo .texto-conteudo {
        padding: 15px;
        margin: 0px;
    }

    .conteudo-slider {
        display: grid;
        grid-template-columns: 30px 1fr 30px;
        grid-template-areas: "prev-button img next-button";
    }

    .setas-mobile {
        display: none;
    }

    .botao-fechar{
        display: none;
    }

    .imagem{
        width: 100%;
    }

    .link-foto{
        cursor: default;
    }
}

@media (min-width: 1200px) {

    main {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-around;
    }

    .conteudo {
        background-color: #e7e7e7;
        width: 40vw;
        margin: 50px;
        display: grid;
        grid-template-rows: auto 1fr 1px auto;
        grid-template-areas: "topo-conteudo" "on" "conteiner-icone" "conteudo-texto";
    }

    .conteudo-texto{
        grid-area: conteudo-texto;
    }

    .conteudo .topo-conteudo {
        display: flex;
        margin-left: 15px;
        grid-area: topo-conteudo;
    }


    .conteudo .topo-conteudo .nome-grupo {
        position: absolute;
    }

    .conteudo .topo-conteudo .assunto {
        margin: 15px auto;
    }

    .conteudo .imagens-conteudo {
        display: flex;
        justify-content: center;
    }

    .conteudo .imagem-conteudo {
        width: 100%;
    }

    .conteudo .texto-conteudo {
        padding: 15px;
        margin: 0px;
    }

    .conteudo-slider {
        display: grid;
        position: relative;
        grid-template-columns: 30px 1fr 30px;
        grid-template-areas: "prev-button img next-button";
    }

    .setas-mobile {
        display: none;
    }

    .foto img{
        width: 100%;
        display: block;
    }

    .botao-fechar{
        display: none;
    }

    .foto:target{
        position: fixed;
        width: 65vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 25px 10px 10px 10px;
        border: solid 1px #333;
        box-shadow: 0 0 25px 10px #00000067;
        background-color: #fff;
        border-radius: 5px;
        z-index: 2;
    }

    .foto:target .botao-fechar{
        display: flex;
        position: absolute;
        right: 10px;
        top: 3px;
        cursor: pointer;
    }

    .foto:target .icone-aumentar{
        display: none;
    }

    .container-icone{
        position: relative;
        grid-area: conteiner-icone;
    }

    .icone-aumentar{
        position: absolute;
        right: 35px;
        bottom: 5px;
        color: #fff;
        cursor: pointer;
    }
}